$font-Roboto: 'Roboto', sans-serif;
$font-PfD: 'Playfair Display', sans-serif;
$font-HsO: 'Hammersmith One', sans-serif;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-google: "\e900";
$icon-coffee: "\e901";
$icon-dribbble: "\eaa7";
$icon-twitter: "\ea96";